.rating {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.rating .item-image {
    float: left;
    margin-right: 20px;
}

.rating .item-image img {
    display: block;
}

.rating h2.item-name {
   font-size: 20px;
    margin-bottom: 5px;
}

.rating h2.item-name .item-brand {
    font-size: 14px;
}

.rating h2.item-name .item-brand a {
    color: brown;
}

.rating h3.item-brand {
    font-size: 16px;

}
.rating h4 {
    font-size: 12px;
    color: darkblue;
}

.rating img {
    width: 140px;
    height: 140px
}

.rating .item-content {
    float: left;
}

.rating h3.title {
    font-size: 16px;
    margin-bottom: 5px;
}
.rating p {
    line-height: 1em;
    margin: 0px;
}
.clear {
    clear: both;
}

.rating .stars-container {
 margin-bottom: 15px;
}

.rating .stars-container .big-star {
    background: url(../images/stars-sprite.png) no-repeat;
    width: 46px;
    height: 45px;
    background-position: -6px -387px;
    outline-width: 0;
    background-size: 326px 550px;
    float: left;
}


.rating .stars-container .big-star.highlight {
    background-position: -97px -387px;
}

.rating .stars-container .big-star.highlight.hover, .rating .stars-container .big-star.hover {
    background-position: -51px -387px;

}

.rating .clickable {
    cursor: pointer;
}

.rating textarea {
    resize: both;

}
.rating input {
    display: block;

}
.rating input[type='submit'] {
    background: #ccc;
    display: block;

}
.rating input[type='submit']:hover {
    background: deepskyblue;

}
