.rating {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.rating .item-image {
    float: left;
    margin-right: 20px;
}

.rating .item-image img {
    display: block;
}

.rating h2.item-name {
   font-size: 20px;
    margin-bottom: 5px;
}

.rating h2.item-name .item-brand {
    font-size: 14px;
}

.rating h2.item-name .item-brand a {
    color: brown;
}

.rating h2.item-name .item-brand a:hover {
    text-decoration: none;
}

.rating h3.item-brand {
    font-size: 16px;

}
.rating h4 {
    font-size: 12px;
    color: darkblue;
}

.rating img {
    width: 140px;
    height: 140px
}

.rating .item-content {
    float: left;
}

.clear {
    clear: both;
}

.rating .stars-container {

}

.rating .stars-container .big-star {
    background: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/customer-reviews/RYP_mobile_spritex2-v8._V316463287_.png) no-repeat;
    width: 46px;
    height: 45px;
    background-position: -6px -387px;
    outline-width: 0;
    background-size: 326px 550px;
    float: left;
}

.rating .clickable {
    cursor: pointer;
}
